@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700&amp;subset=korean');
@import url(font_noto/font.css);

/*** Reset ***/
html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
{
    margin:0;padding:0;
    color:#222;font-family:'Roboto','Noto Sans KR',"굴림",Gulim,"돋움",Dotum, Sans-serif;font-size:16px;font-weight:400;line-height:1.6;letter-spacing:-0.5px;
    -webkit-text-size-adjust:antialiased;-moz-osx-font-smoothing:grayscale;
}
b, span, strong, input, a, button {font-size:inherit;font-family:inherit;color:inherit}
article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption {display: block;}
cite {display:inline}
html, body {height:100%;}
body {overflow-x:hidden;margin:0px;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
img {max-width:100%;border:0;}
label, input, textarea, select {vertical-align:middle}
ol, ul {list-style:none;}
table {border-collapse:collapse;table-layout:fixed;}
fieldset {border:none}
.skip, hr, legend {position:absolute;left:-1000%;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
button {margin:0;padding:0;border:none;background:none;cursor:pointer;display:inline-block;}

/*** Layout ***/
.alt_hidden, legend,
caption>p, caption>strong {display:block;width:1px;height:1px;overflow:hidden;position:absolute;top:-1000em;left:0;}

#dim,
#pop_dim,
#gnb_dim {position:fixed;top:0;left:0;width:100%;height:100%;background:#000;visibility:hidden;opacity:0;}
#dim.on {visibility:visible;opacity:0.5;z-index:900;}
#pop_dim.on {visibility:visible;opacity:0.5;z-index:900;}

#skip_menu a{position:absolute;opacity:0}
#skip_menu a:focus{padding:10px;background:#000;font-size:15px;color:#fff;opacity:1;z-index:2000}

.limit_area {overflow-x:auto;overflow-y:hidden;width:100%;-webkit-overflow-scrolling:touch;}

/*** style_guide ***/
/* paging */
.pagination {clear:both;overflow:hidden;height:40px;margin:0 auto;padding:30px 0;font-size:0;text-align:center;}
.pagination>button {display:inline-block;overflow:hidden;width:40px;height:40px;box-sizing:border-box;border:1px solid #d7d7d7;border-radius:50%;background-color:#fff;font-family:'Roboto';font-size:16px;font-weight:400;line-height:35px;vertical-align:top;transition:0.2s;}
.pagination>button>span {display:block;width:100%;height:100%;background-repeat:no-repeat;background-position:50% 50%;text-indent:-999px;}
.pagination>button.btn_first,
.pagination>button.btn_prev {margin-right:6px;}
.pagination>button.btn_next,
.pagination>button.btn_end {margin-left:6px;}
.pagination>button.btn_first>span {background-image:url(../img/board/pagingFirst.png);}
.pagination>button.btn_prev>span {background-image:url(../img/board/pagingPrev.png);}
.pagination>button.btn_next>span {background-image:url(../img/board/pagingNext.png);}
.pagination>button.btn_end>span {background-image:url(../img/board/pagingEnd.png);}
.pagination>button.btn_first:hover,
.pagination>button.btn_prev:hover,
.pagination>button.btn_next:hover,
.pagination>button.btn_end:hover {border:1px solid #282828;}
.pagination .paging {display:inline-block;overflow:hidden;padding:8px 0 0;font-size:0;text-align:center;}
.pagination .paging>li {display:inline-block;padding:0 12px;}
.pagination .paging>li>button {display:inline-block;position:relative;overflow:hidden;width:18px;height:22px;padding-bottom:2px;color:#333;font-family:'Roboto';font-size:16px;font-weight:400;line-height:22px;text-align:center;letter-spacing:-1px;transition:0.2s;}
.pagination .paging>li>button::before {content:'';display:none;position:absolute;left:0;bottom:0;width:100%;height:2px;background:#1d50a2;}
.pagination .paging>li>button:hover,
.pagination .paging>li>button.on {color:#1d50a2;font-weight:700;}
.pagination .paging>li>button:hover::before,
.pagination .paging>li>button.on::before {display:block;}

/* button */
.btnC {display:inline-block;overflow:hidden;box-sizing:border-box;padding:0 30px;border:1px solid #00a8e0;border-radius:30px;background-color:#00a8e0;vertical-align:top;transition:0.2s;}
.btnC>span {display:block;overflow:hidden;width:auto;min-width:98px;height:58px;margin:0;box-sizing:border-box;color:#fff;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:18px;font-weight:400;line-height:59px;text-align:center;letter-spacing:-1px;}
.btnC:hover {border:1px solid #01233f !important;background-color:#01233f !important;}
.btnC:hover>span {color:#fff !important;}

.btnC.Blue {border:1px solid #0065b3;background-color:#0065b3;}
.btnC.GrayLine {border:1px solid #666;background-color:#fff;}
.btnC.GrayLine>span {color:#000;}
.btnC.Black {border:1px solid #4d4d4d;background-color:#4d4d4d;}

.btnI {display:inline-block;overflow:hidden;box-sizing:border-box;padding:0 30px;border:1px solid #00a8e0;border-radius:30px;background-color:#00a8e0;vertical-align:top;transition:0.2s;}
.btnI>span {display:block;overflow:hidden;width:auto;min-width:98px;height:58px;margin:0;box-sizing:border-box;padding-right:23px;background:url(../img/common/btnC_arrR_white.png) no-repeat right center;color:#fff;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:18px;font-weight:400;line-height:59px;text-align:center;letter-spacing:-1px;}
.btnI:hover {border:1px solid #01233f !important;background-color:#01233f !important;}
.btnI:hover>span {color:#fff !important;}

.btnI.Blue {border:1px solid #0065b3;background-color:#0065b3;}
.btnI.GrayLine {border:1px solid #666;background-color:#fff;}
.btnI.GrayLine>span {color:#000;}

.btnI_s {display:inline-block;overflow:hidden;box-sizing:border-box;padding:0 25px;border:1px solid #00a8e0;border-radius:20px;background-color:#00a8e0;vertical-align:top;transition:0.2s;}
.btnI_s>span {display:block;overflow:hidden;width:auto;min-width:68px;height:38px;margin:0;box-sizing:border-box;padding-right:18px;background:url(../img/common/btnC_arrR_s_white.png) no-repeat right center;color:#fff;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:15px;font-weight:400;line-height:39px;text-align:center;letter-spacing:-1px;}
.btnI_s:hover {border:1px solid #01233f !important;background-color:#01233f !important;}
.btnI_s:hover>span {color:#fff !important;}

.btnI_s.Blue {border:1px solid #0065b3;background-color:#0065b3;}
.btnI_s.GrayLine {border:1px solid #666;background-color:#fff;}
.btnI_s.GrayLine>span {color:#000;}

.btnR_s {display:inline-block;overflow:hidden;box-sizing:border-box;padding:0 15px;border:1px solid #d9d9d9;background-color:#fff;vertical-align:top;transition:0.2s;}
.btnR_s>span {display:block;overflow:hidden;width:auto;min-width:28px;height:32px;margin:0;box-sizing:border-box;color:#888;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:14px;font-weight:400;line-height:33px;text-align:center;letter-spacing:-1px;}

.btnArea {margin:0 !important;padding:30px 0 0 !important;font-size:0;text-align:center !important;}
.btnArea a+a,
.btnArea button+button {margin:0 0 0 10px !important;}

.pagination+.btnArea {margin:0 !important;padding:30px 0 0 !important;font-size:0;text-align:center !important;}
.pagination+.btnAreaL,
.pagination+.btnAreaR,
.pagination+.btnAreaC {position:relative !important;margin:0 !important;padding:0 !important;}
.pagination+.btnAreaL>a,
.pagination+.btnAreaL>button {position:absolute !important;left:0 !important;right:auto !important;top:auto !important;bottom:30px !important;}
.pagination+.btnAreaR>a,
.pagination+.btnAreaR>button {position:absolute !important;left:auto !important;right:0 !important;top:auto !important;bottom:30px !important;}
.pagination+.btnArea>.fL>a,
.pagination+.btnArea>.fL>button {position:absolute !important;left:0 !important;right:auto !important;top:auto !important;bottom:30px !important;}
.pagination+.btnArea>.fR>a,
.pagination+.btnArea>.fR>button {position:absolute !important;left:auto !important;right:0 !important;top:auto !important;bottom:30px !important;}
.tbArea_btn {font-size: 0;margin-top: 30px;text-align: center;}
.tbArea_btn>a {margin-bottom:0;}
.tbArea_btn>a+a {margin-left:7px}

/* input */
.inp_r {display:inline-block;position:relative;margin-right:10px;font-size:0;}
.inp_r>input[type=radio] {position:absolute;left:1px;top:1px;width:22px;height:22px;z-index:0;}
.inp_r>label {display:inline-block;position:relative;overflow:hidden;min-height:22px;padding:3px 1px 0 30px;background:url(../img/common/ico_inputRadio.png) no-repeat 0 0;line-height:22px;word-break:keep-all;cursor:pointer;z-index:1;letter-spacing:-1px;}
.inp_r>input[type=radio]:checked+label{background:url(../img/common/ico_inputRadio_on.png) no-repeat 0 0;}

.inp_c {display:inline-block;position:relative;font-size:0;}
.inp_c>input[type=checkbox] {position:absolute;left:4px;top:4px;width:14px;height:14px;z-index:0;}
.inp_c>label {display:inline-block;position:relative;overflow:hidden;min-height:22px;padding:0px 1px 0 30px;background:url(../img/common/ico_inputCheck.png) no-repeat 0 0;line-height:22px;text-align:left;cursor:pointer;z-index:1;}
.inp_c>label b{font-size:16px;font-weight:500;}
.inp_c>input[type=checkbox]:checked+label{background:url(../img/common/ico_inputCheck_on.png) no-repeat 0 0;}
.inp_c>input:focus {left:1px;top:1px;width:21px;height:20px;}

/* select박스 스타일 */
.inp_s {
    /*vertical-align:text-top;*/
    width: 100%; /* 원하는 너비설정 */
    height:50px;
    padding: 0 30px 0 15px; /* 여백으로 높이 설정 */
    color:#666;
    font-family:'Noto Sans KR',sans-serif;
    font-size:16px;
    line-height:48px;
    /*font-family: inherit;*/  /* 폰트 상속 */
    background:#fff url(../img/common/ico_selectArrB_black.png) no-repeat right 15px top 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid #d9d9d9;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}
.inp_s::-ms-expand {display:none;}/* IE 10, 11의 네이티브 화살표 숨기기 */
.inp_t {width:100%;height:50px;box-sizing:border-box;padding:0 15px;border:1px solid #d9d9d9;color:#666;font-size:16px;line-height:48px;}
.inp_t.inp_half {width:41.5%}
.inp_area {width:100%;box-sizing:border-box;padding:10px 15px;border:1px solid #d9d9d9;color:#666;font-size:16px;line-height:22px;resize:none;text-align:left;}

input.inp_t::-ms-input-placeholder {color:#bbb;}
input.inp_t::-webkit-input-placeholder {color:#bbb;}
input.inp_t::-moz-placeholder {color:#bbb;}
input.inp_t::-o-placeholder {color:#bbb;}

textarea.inp_area::-ms-input-placeholder {color:#bbb;}
textarea.inp_area::-webkit-input-placeholder {color:#bbb;}
textarea.inp_area::-moz-placeholder {color:#bbb;}
textarea.inp_area::-o-placeholder {color:#bbb;}

.inp_file {position:relative;padding:4px 84px 4px 0;font-size:0;}
.inp_file .btn_fileFind {display:block;position:absolute;right:0;top:4px;width:85px;height:50px;box-sizing:border-box;border:1px solid #d9d9d9;background:#f5f7f9;color:#555;font-size:16px;font-weight:normal;line-height:50px;text-align:center;letter-spacing:-1px;cursor:pointer;}
.inp_file .btn_fileFind input {position:absolute;top:0;right:0;width:100%;height:100%;opacity:0;cursor:pointer;}

/* no_article */
.typeNoArticle {height:auto !important;padding:0 !important;}
.no_article {display:block;width:100%;box-sizing:border-box;padding:165px 0 65px;background:url(../img/board/ico_noArticle.png) no-repeat 50% 60px;color:#666;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:20px;line-height:21px;text-align:center;}


/* tab */
#pageTab {overflow:hidden;margin-bottom:30px;}
#pageTab .btn_mSelect {display:none;}
#pageTab .tabList {width:100%;font-size:0;}
#pageTab .tabList>li {display:inline-block;position:relative;margin:0 50px 0 0;vertical-align:top;}
#pageTab .tabList>li:last-child {margin-right:0;padding-right:0;}
#pageTab .tabList>li a {display:block;position:relative;margin:15px 0 0;box-sizing:border-box;padding:0 0 12px;color:#666;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:32px;font-weight:500;line-height:40px;text-align:center;white-space:nowrap;transition:0.2s;letter-spacing:-1px;}
#pageTab .tabList>li a::before {content:'';display:block;position:absolute;left:50%;bottom:0;width:0;height:4px;background:none;transition:0.2s;}
#pageTab .tabList>li a.on,
#pageTab .tabList>li a:hover {color:#000;font-weight:700;}
#pageTab .tabList>li a.on::before,
#pageTab .tabList>li a:hover::before {left:0;width:calc(100% - 1px);background:#00b0ec;}

.limit{overflow-x:hidden;overflow-y:auto;}

/* 에러페이지 */
.conts_error {width:100%;height:100%;max-width:100%;max-height:100%;background:#fff;}
.conts_error.typeFull {position:fixed;left:0;top:0;z-index:9999;}
.conts_error .errorBox {position:relative;left:50%;width:590px;height:480px;box-sizing:border-box;padding-top:200px;border-top:2px solid #121a28;background:#fff url(../img/common/ico_errorMark.png) no-repeat 50% 60px;transform:translateX(-50%);}
.conts_error.typeFull .errorBox {top:50%;transform:translate(-50%, -50%);}
.conts_error .errorBox strong {display:block;overflow:hidden;width:80%;margin:0 auto 20px;color:#272727;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:30px;font-weight:500;line-height:38px;text-align:center;}
.conts_error .errorBox p {display:block;overflow:hidden;width:80%;margin:0 auto 50px;color:#272727;font-size:17px;line-height:25px;text-align:center;}
.conts_error .errorBox .btn_area {border-top:1px solid #ddd;padding-top:40px;text-align:center;}
.noCont_msg{width: 100%; min-height: 220px; border: 1px solid #e1e1e1; box-sizing: border-box; text-align:center; font-size: 0; margin-top: 50px;}
.noCont_msg > img{display: inline-block; margin-bottom: 30px; margin-top: 50px;}
.noCont_msg > p{font-size: 32px; letter-spacing: -1px; line-height: 1em; font-weight: 500;}

/* 멘토로그인 */
#pop_mentorLogin {width:445px;height:500px;box-sizing:border-box;padding:81px 50px 60px;}
#pop_mentorLogin .popTit {height:auto;padding:0;background:none;color:#0065b3;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:40px;font-weight:700;line-height:50px;text-align:center;}
#pop_mentorLogin .popTit>span {display:block;margin-top:8px;color:#000;font-size:16px;font-weight:400;line-height:20px;text-align:center;}
#pop_mentorLogin .popConts {padding-top:35px;}
#pop_mentorLogin .popConts .popInner {padding:0;}
#pop_mentorLogin fieldset input {margin-bottom:17px;}
#pop_mentorLogin .btnArea {padding-top:0 !important;}
#pop_mentorLogin .btnArea .btnC {width:100%;border-radius:0;background:#00b0ec;}
#pop_mentorLogin .btnArea .btnC>span {height:50px;line-height:51px;}
#pop_mentorLogin .noti {display:block;margin-top:17px;color:#666;font-family:'Roboto','Noto Sans KR',sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;letter-spacing:-1px;}
#pop_mentorLogin .btn_popClose {background:url(../img/common/ico_loginCloseX.png) no-repeat center;}


@media all and (max-width:1040px){
    html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
    {font-size:15px;line-height:1.5;}

    /*** style_guide ***/
    /* tab */
    #pageTab .tabList>li {margin-right:18px !important;}
    #pageTab .tabList>li a {height:27px;margin:0;font-size:13px;line-height:27px;letter-spacing:-0.5px;}
    #pageTab .tabList>li a::before {height:2px;}

    /* button */
    /*.btnC {padding:0 25px;border-radius:25px;}
    .btnC>span {min-width:78px;height:48px;font-size:16px;line-height:49px;}

    .btnI {padding:0 25px;border-radius:25px;}
    .btnI>span {min-width:78px;height:48px;padding-right:22px;font-size:16px;line-height:49px;}

    .btnI_s {padding:0 18px;border-radius:18px;}
    .btnI_s>span {min-width:63px;height:33px;padding-right:16px;font-size:14px;line-height:34px;}

    .btnR_s {padding:0 13px;}
    .btnR_s>span {min-width:23px;height:27px;font-size:13px;line-height:28px;}

    .btnArea {padding:25px 0 0 !important;}*/

    .btnC {padding:0 20px;border-radius:20px;}
    .btnC>span {min-width:68px;height:38px;font-size:14px;line-height:39px;}

    .btnI {padding:0 20px;border-radius:20px;}
    .btnI>span {min-width:68px;height:38px;padding-right:17px;font-size:14px;line-height:39px;}

    .btnI_s {padding:0 13px;border-radius:13px;}
    .btnI_s>span {min-width:58px;height:28px;padding-right:14px;font-size:13px;line-height:29px;}

    .btnR_s {padding:0 11px;}
    .btnR_s>span {min-width:18px;height:22px;font-size:12px;line-height:23px;}

    .btnArea {padding:20px 0 0 !important;}

    /* input */
    .inp_s {height:35px;padding:0 30px 0 10px;font-size:13px;line-height:33px;}
    .inp_t {height:35px;padding:0 10px;font-size:13px;line-height:33px;}
    .inp_area {font-size:13px;line-height:20px;}
    .inp_file {padding-right:64px;}
    .inp_file .btn_fileFind {width:65px;height:35px;font-size:13px;line-height:35px;}

}

@media all and (max-width:768px){
    html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
    {font-size:14px;line-height:1.4;}

    /*** style_guide ***/
    .pagination>button {width:30px;height:30px;line-height:25px;}
    .pagination>button>span {background-size:auto 10px !important;}
    .pagination .paging {padding:4px 5px 0;}
    .pagination .paging>li {padding:0 7px;}
    .pagination .paging>li>button {width:13px;font-size:14px;line-height:20px;}

    /* button */
    .btnC {padding:0 20px;border-radius:20px;}
    .btnC>span {min-width:68px;height:38px;font-size:14px;line-height:39px;}

    .btnI {padding:0 20px;border-radius:20px;}
    .btnI>span {min-width:68px;height:38px;padding-right:17px;font-size:14px;line-height:39px;}

    .btnI_s {padding:0 13px;border-radius:13px;}
    .btnI_s>span {min-width:58px;height:28px;padding-right:14px;font-size:13px;line-height:29px;}

    .btnR_s {padding:0 11px;}
    .btnR_s>span {min-width:18px;height:22px;font-size:12px;line-height:23px;}

    .btnArea {padding:20px 0 0 !important;}

    /* 에러페이지 */
    .conts_error .errorBox {width:90%;height:auto;}
    .conts_error .errorBox strong {font-size:20px;line-height:28px;}
    .conts_error .errorBox p {font-size:15px;line-height:23px;}
    .conts_error .btnC>span {min-height:38px;font-size:14px;}

    /* 멘토로그인 */
    #pop_mentorLogin {width:300px;height:335px;padding:40px 25px 30px;transform:translate(-50%, -50%) !important;}
    #pop_mentorLogin .popTit {font-size:25px !important;line-height:24px !important;}
    #pop_mentorLogin .popTit>span {font-size:12px;line-height:16px;}
    #pop_mentorLogin .popConts {padding-top:20px;}
    #pop_mentorLogin fieldset input {margin-bottom:9px;}
    #pop_mentorLogin .btnArea .btnC>span {height:30px;line-height:31px;}
    #pop_mentorLogin .noti {font-size:13px;line-height:17px;}
    #pop_mentorLogin .btn_popClose {background-size:auto 14px !important;}
}


@media all and (max-width:320px){

}


/*** popup ***/
/* pop layout */
.pop_iframe {display:none;position:fixed !important;left:0;top:0;width:100%;height:100%;/*background:rgba(0,0,0,0.7);*/z-index:2000;}
.pop_iframe.on {display:block;}
.pop_wrap {width:100%;height:100%;}

.popLayout {position:relative;width:100%;background:#fff;z-index:1100;}
.popLayout.popWin {left:0;top:0;} /* 일반팝업용(팝업 스크립트 중앙정렬 제거) */
.popLayout.popLayer {left:50%;top:50%;transform:translate(-50%, -50%);} /* 레이어팝업용(팝업 스크립트 중앙정렬 추가) */
.popLayout .popTit {height:60px;line-height:1em;padding:16px 55px 15px 30px;box-sizing:border-box;background:#0065b3;color:#fff;font-size:24px;font-weight:500;letter-spacing:-1px} /*로고없을때*/
/*.popLayout .popTit {height:50px;line-height:50px;padding-left:60px;background:#a7bf05 url(../img/common/pop_logo.png) no-repeat 20px center;font-weight:500;font-size:18px;color:#fff;letter-spacing:-1px}*/ /*로고있을때*/
.popLayout .btn_popClose {position:absolute;top:0;right:0;display:block;width:60px;height:60px;background:url(../img/common/ico_popCloseX.png) no-repeat center;font-size:0}

.popLayout .popConts {padding:30px 0;}
.popLayout .popConts .popInner {overflow:hidden;padding:0 30px;}
.popLayout .popConts .popInner .txt {letter-spacing:-1px;}
.popLayout .popConts .popInner.limit {overflow-x:hidden;overflow-y:auto;padding:0 10px 0 20px;}

/* pop 개별 */

/* 팝업전용 미디어쿼리 */
@media all and (max-width:768px){
    .popLayout .popTit {height:auto;padding:15px 50px 11px 20px;font-size:16px !important;line-height:20px !important;font-size:18px;}
    .popLayout .btn_popClose {right:15px;top:15px;width:20px;height:20px;background-size:auto 15px;}
    .popLayout .popConts {padding:20px 0;}
    .popLayout .popConts .popInner {padding:0 20px;}
}

@media all and (max-width:420px){
    .popLayout.popLayer {transform:none !important;}
}

/*** Component ***/
.txtL {text-align:left !important;}
.txtC {text-align:center !important;}
.txtR {text-align:right !important;}

.fL {float:left !important;}
.fR {float:right !important;}
.cB {clear:both !important;}
.cB::after{content:"";display: block;clear: both;}

.mT0 {margin-top:0px !important;}
.mT1 {margin-top:1px !important;}
.mT2 {margin-top:2px !important;}
.mT3 {margin-top:3px !important;}
.mT4 {margin-top:4px !important;}
.mT5 {margin-top:5px !important;}
.mT6 {margin-top:6px !important;}
.mT7 {margin-top:7px !important;}
.mT8 {margin-top:8px !important;}
.mT9 {margin-top:9px !important;}
.mT10 {margin-top:10px !important;}
.mT11 {margin-top:11px !important;}
.mT12 {margin-top:12px !important;}
.mT13 {margin-top:13px !important;}
.mT14 {margin-top:14px !important;}
.mT15 {margin-top:15px !important;}
.mT16 {margin-top:16px !important;}
.mT17 {margin-top:17px !important;}
.mT18 {margin-top:18px !important;}
.mT19 {margin-top:19px !important;}
.mT20 {margin-top:20px !important;}
.mT21 {margin-top:21px !important;}
.mT22 {margin-top:22px !important;}
.mT23 {margin-top:23px !important;}
.mT24 {margin-top:24px !important;}
.mT25 {margin-top:25px !important;}
.mT26 {margin-top:26px !important;}
.mT27 {margin-top:27px !important;}
.mT28 {margin-top:28px !important;}
.mT29 {margin-top:29px !important;}
.mT30 {margin-top:30px !important;}
.mT35 {margin-top:35px !important;}
.mT40 {margin-top:40px !important;}
.mT45 {margin-top:45px !important;}
.mT50 {margin-top:50px !important;}
.mT70 {margin-top:70px !important;}

.mR0 {margin-right:0px !important;}
.mR1 {margin-right:1px !important;}
.mR2 {margin-right:2px !important;}
.mR3 {margin-right:3px !important;}
.mR4 {margin-right:4px !important;}
.mR5 {margin-right:5px !important;}
.mR6 {margin-right:6px !important;}
.mR7 {margin-right:7px !important;}
.mR8 {margin-right:8px !important;}
.mR9 {margin-right:9px !important;}
.mR10 {margin-right:10px !important;}
.mR11 {margin-right:11px !important;}
.mR12 {margin-right:12px !important;}
.mR13 {margin-right:13px !important;}
.mR14 {margin-right:14px !important;}
.mR15 {margin-right:15px !important;}
.mR16 {margin-right:16px !important;}
.mR17 {margin-right:17px !important;}
.mR18 {margin-right:18px !important;}
.mR19 {margin-right:19px !important;}
.mR20 {margin-right:20px !important;}
.mR21 {margin-right:21px !important;}
.mR22 {margin-right:22px !important;}
.mR23 {margin-right:23px !important;}
.mR24 {margin-right:24px !important;}
.mR25 {margin-right:25px !important;}
.mR26 {margin-right:26px !important;}
.mR27 {margin-right:27px !important;}
.mR28 {margin-right:28px !important;}
.mR29 {margin-right:29px !important;}
.mR30 {margin-right:30px !important;}
.mR35 {margin-right:35px !important;}
.mR40 {margin-right:40px !important;}
.mR45 {margin-right:45px !important;}
.mR50 {margin-right:50px !important;}

.mB0 {margin-bottom:0px !important;}
.mB1 {margin-bottom:1px !important;}
.mB2 {margin-bottom:2px !important;}
.mB3 {margin-bottom:3px !important;}
.mB4 {margin-bottom:4px !important;}
.mB5 {margin-bottom:5px !important;}
.mB6 {margin-bottom:6px !important;}
.mB7 {margin-bottom:7px !important;}
.mB8 {margin-bottom:8px !important;}
.mB9 {margin-bottom:9px !important;}
.mB10 {margin-bottom:10px !important;}
.mB11 {margin-bottom:11px !important;}
.mB12 {margin-bottom:12px !important;}
.mB13 {margin-bottom:13px !important;}
.mB14 {margin-bottom:14px !important;}
.mB15 {margin-bottom:15px !important;}
.mB16 {margin-bottom:16px !important;}
.mB17 {margin-bottom:17px !important;}
.mB18 {margin-bottom:18px !important;}
.mB19 {margin-bottom:19px !important;}
.mB20 {margin-bottom:20px !important;}
.mB21 {margin-bottom:21px !important;}
.mB22 {margin-bottom:22px !important;}
.mB23 {margin-bottom:23px !important;}
.mB24 {margin-bottom:24px !important;}
.mB25 {margin-bottom:25px !important;}
.mB26 {margin-bottom:26px !important;}
.mB27 {margin-bottom:27px !important;}
.mB28 {margin-bottom:28px !important;}
.mB29 {margin-bottom:29px !important;}
.mB30 {margin-bottom:30px !important;}
.mB35 {margin-bottom:35px !important;}
.mB40 {margin-bottom:40px !important;}
.mB45 {margin-bottom:45px !important;}
.mB50 {margin-bottom:50px !important;}
.mB70 {margin-bottom:70px !important;}

.mL0 {margin-left:0px !important;}
.mL1 {margin-left:1px !important;}
.mL2 {margin-left:2px !important;}
.mL3 {margin-left:3px !important;}
.mL4 {margin-left:4px !important;}
.mL5 {margin-left:5px !important;}
.mL6 {margin-left:6px !important;}
.mL7 {margin-left:7px !important;}
.mL8 {margin-left:8px !important;}
.mL9 {margin-left:9px !important;}
.mL10 {margin-left:10px !important;}
.mL11 {margin-left:11px !important;}
.mL12 {margin-left:12px !important;}
.mL13 {margin-left:13px !important;}
.mL14 {margin-left:14px !important;}
.mL15 {margin-left:15px !important;}
.mL16 {margin-left:16px !important;}
.mL17 {margin-left:17px !important;}
.mL18 {margin-left:18px !important;}
.mL19 {margin-left:19px !important;}
.mL20 {margin-left:20px !important;}
.mL21 {margin-left:21px !important;}
.mL22 {margin-left:22px !important;}
.mL23 {margin-left:23px !important;}
.mL24 {margin-left:24px !important;}
.mL25 {margin-left:25px !important;}
.mL26 {margin-left:26px !important;}
.mL27 {margin-left:27px !important;}
.mL28 {margin-left:28px !important;}
.mL29 {margin-left:29px !important;}
.mL30 {margin-left:30px !important;}
.mL35 {margin-left:35px !important;}
.mL40 {margin-left:40px !important;}
.mL45 {margin-left:45px !important;}
.mL50 {margin-left:50px !important;}

.pT0 {padding-top:0px !important;}
.pT1 {padding-top:1px !important;}
.pT2 {padding-top:2px !important;}
.pT3 {padding-top:3px !important;}
.pT4 {padding-top:4px !important;}
.pT5 {padding-top:5px !important;}
.pT6 {padding-top:6px !important;}
.pT7 {padding-top:7px !important;}
.pT8 {padding-top:8px !important;}
.pT9 {padding-top:9px !important;}
.pT10 {padding-top:10px !important;}
.pT11 {padding-top:11px !important;}
.pT12 {padding-top:12px !important;}
.pT13 {padding-top:13px !important;}
.pT14 {padding-top:14px !important;}
.pT15 {padding-top:15px !important;}
.pT16 {padding-top:16px !important;}
.pT17 {padding-top:17px !important;}
.pT18 {padding-top:18px !important;}
.pT19 {padding-top:19px !important;}
.pT20 {padding-top:20px !important;}
.pT21 {padding-top:21px !important;}
.pT22 {padding-top:22px !important;}
.pT23 {padding-top:23px !important;}
.pT24 {padding-top:24px !important;}
.pT25 {padding-top:25px !important;}
.pT26 {padding-top:26px !important;}
.pT27 {padding-top:27px !important;}
.pT28 {padding-top:28px !important;}
.pT29 {padding-top:29px !important;}
.pT30 {padding-top:30px !important;}
.pT35 {padding-top:35px !important;}
.pT40 {padding-top:40px !important;}
.pT45 {padding-top:45px !important;}
.pT50 {padding-top:50px !important;}

.pR0 {padding-right:0px !important;}
.pR1 {padding-right:1px !important;}
.pR2 {padding-right:2px !important;}
.pR3 {padding-right:3px !important;}
.pR4 {padding-right:4px !important;}
.pR5 {padding-right:5px !important;}
.pR6 {padding-right:6px !important;}
.pR7 {padding-right:7px !important;}
.pR8 {padding-right:8px !important;}
.pR9 {padding-right:9px !important;}
.pR10 {padding-right:10px !important;}
.pR11 {padding-right:11px !important;}
.pR12 {padding-right:12px !important;}
.pR13 {padding-right:13px !important;}
.pR14 {padding-right:14px !important;}
.pR15 {padding-right:15px !important;}
.pR16 {padding-right:16px !important;}
.pR17 {padding-right:17px !important;}
.pR18 {padding-right:18px !important;}
.pR19 {padding-right:19px !important;}
.pR20 {padding-right:20px !important;}
.pR21 {padding-right:21px !important;}
.pR22 {padding-right:22px !important;}
.pR23 {padding-right:23px !important;}
.pR24 {padding-right:24px !important;}
.pR25 {padding-right:25px !important;}
.pR26 {padding-right:26px !important;}
.pR27 {padding-right:27px !important;}
.pR28 {padding-right:28px !important;}
.pR29 {padding-right:29px !important;}
.pR30 {padding-right:30px !important;}
.pR35 {padding-right:35px !important;}
.pR40 {padding-right:40px !important;}
.pR45 {padding-right:45px !important;}
.pR50 {padding-right:50px !important;}

.pB0 {padding-bottom:0px !important;}
.pB1 {padding-bottom:1px !important;}
.pB2 {padding-bottom:2px !important;}
.pB3 {padding-bottom:3px !important;}
.pB4 {padding-bottom:4px !important;}
.pB5 {padding-bottom:5px !important;}
.pB6 {padding-bottom:6px !important;}
.pB7 {padding-bottom:7px !important;}
.pB8 {padding-bottom:8px !important;}
.pB9 {padding-bottom:9px !important;}
.pB10 {padding-bottom:10px !important;}
.pB11 {padding-bottom:11px !important;}
.pB12 {padding-bottom:12px !important;}
.pB13 {padding-bottom:13px !important;}
.pB14 {padding-bottom:14px !important;}
.pB15 {padding-bottom:15px !important;}
.pB16 {padding-bottom:16px !important;}
.pB17 {padding-bottom:17px !important;}
.pB18 {padding-bottom:18px !important;}
.pB19 {padding-bottom:19px !important;}
.pB20 {padding-bottom:20px !important;}
.pB21 {padding-bottom:21px !important;}
.pB22 {padding-bottom:22px !important;}
.pB23 {padding-bottom:23px !important;}
.pB24 {padding-bottom:24px !important;}
.pB25 {padding-bottom:25px !important;}
.pB26 {padding-bottom:26px !important;}
.pB27 {padding-bottom:27px !important;}
.pB28 {padding-bottom:28px !important;}
.pB29 {padding-bottom:29px !important;}
.pB30 {padding-bottom:30px !important;}
.pB35 {padding-bottom:35px !important;}
.pB40 {padding-bottom:40px !important;}
.pB45 {padding-bottom:45px !important;}
.pB50 {padding-bottom:50px !important;}

.pL0 {padding-left:0px !important;}
.pL1 {padding-left:1px !important;}
.pL2 {padding-left:2px !important;}
.pL3 {padding-left:3px !important;}
.pL4 {padding-left:4px !important;}
.pL5 {padding-left:5px !important;}
.pL6 {padding-left:6px !important;}
.pL7 {padding-left:7px !important;}
.pL8 {padding-left:8px !important;}
.pL9 {padding-left:9px !important;}
.pL10 {padding-left:10px !important;}
.pL11 {padding-left:11px !important;}
.pL12 {padding-left:12px !important;}
.pL13 {padding-left:13px !important;}
.pL14 {padding-left:14px !important;}
.pL15 {padding-left:15px !important;}
.pL16 {padding-left:16px !important;}
.pL17 {padding-left:17px !important;}
.pL18 {padding-left:18px !important;}
.pL19 {padding-left:19px !important;}
.pL20 {padding-left:20px !important;}
.pL21 {padding-left:21px !important;}
.pL22 {padding-left:22px !important;}
.pL23 {padding-left:23px !important;}
.pL24 {padding-left:24px !important;}
.pL25 {padding-left:25px !important;}
.pL26 {padding-left:26px !important;}
.pL27 {padding-left:27px !important;}
.pL28 {padding-left:28px !important;}
.pL29 {padding-left:29px !important;}
.pL30 {padding-left:30px !important;}
.pL35 {padding-left:35px !important;}
.pL40 {padding-left:40px !important;}
.pL45 {padding-left:45px !important;}
.pL50 {padding-left:50px !important;}
